<div>
  <h1>Invitation to {{tenantName}} cancelled</h1>
  <p>Dear {{name}},</p>
  <p>Your invitation to join the {{tenantName}} tenant has been cancelled by {{cancelledBy}} on {{date}}.</p>
  <p>If you believe this was done in error, please contact your administrator.</p>
  <p>Best regards,<br>The {{tenantName}} Team</p>
</div>
