<div>
  <h1>New IP Access Detected</h1>
  <p>Dear {{name}},</p>
  <p>A new IP address {{ipAddress}} was detected accessing {{tenantName}}.</p>
  <p>Time: {{timestamp}}</p>
  <p>Location: {{location}}</p>
  <p>If this wasn't you, please contact your administrator immediately.</p>
  <p>Best regards,<br>The Security Team</p>
</div>
