<div>
  <h1>Tenant {{tenantName}} scheduled for deletion</h1>
  <p>Dear {{name}},</p>
  <p>The tenant {{tenantName}} has been scheduled for deletion by {{requestedBy}}.</p>
  <p>This tenant will be permanently deleted on {{deletionDate}} (in {{gracePeriodDays}} days).</p>
  <p>If you believe this was done in error, please contact your administrator immediately.</p>
  <p>Best regards,<br>The {{tenantName}} Team</p>
</div>
