<div>
  <h1>Tenant {{tenantName}} has been deleted</h1>
  <p>Dear {{name}},</p>
  <p>The tenant {{tenantName}} has been deleted by {{deletedBy}} on {{date}}.</p>
  <p>This means all data associated with this tenant has been permanently removed.</p>
  <p>If you believe this was done in error, please contact your administrator immediately.</p>
  <p>Best regards,<br>The {{tenantName}} Team</p>
</div>
