<div>
  <h1>You've been invited to join {{tenantName}}</h1>
  <p>Dear {{name}},</p>
  <p>You have been invited by {{invitedBy}} to join the {{tenantName}} tenant.</p>
  <p>To accept this invitation, please click the link below:</p>
  <p><a href="{{invitationUrl}}">Accept Invitation</a></p>
  <p>This invitation will expire on {{expiresAt}}.</p>
  <p>If you did not request this invitation, you can safely ignore this email.</p>
  <p>Best regards,<br>The {{tenantName}} Team</p>
</div>
