<div>
  <h1>User {{deletedUser}} has been deleted</h1>
  <p>Dear {{name}},</p>
  <p>The user {{deletedUser}} has been deleted by {{deletedBy}} on {{date}}.</p>
  <p>This user's account has been deactivated and all their active sessions have been revoked.</p>
  <p>If you believe this was done in error, please contact your administrator immediately.</p>
  <p>Best regards,<br>The System Admin Team</p>
</div>
