<div>
  <h1>You've been removed from {{tenantName}}</h1>
  <p>Dear {{name}},</p>
  <p>You have been removed from the {{tenantName}} tenant by {{removedBy}} on {{date}}.</p>
  <p>This means you will no longer have access to any resources or data associated with this tenant.</p>
  <p>If you believe this was done in error, please contact your administrator.</p>
  <p>Best regards,<br>The {{tenantName}} Team</p>
</div>
